/*
 * -------------------------------------------------------------------------------
 * General Styling
 * -------------------------------------------------------------------------------
 */
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

button {
    border: none;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}

/*
 * -------------------------------------------------------------------------------
 * Outer Page Styling
 * -------------------------------------------------------------------------------
 */

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid: 1fr 4fr / 1fr 5fr;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-content: start;
    gap: 60px;
    color: #ffffff;
    font-size: large;
    font-weight: bold;
    background-color: #1992d4;
}

.header {
    grid-area: 1 / 2 / 2 / -1;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.25);
    z-index: 1;
    background-color: #ffffff;
}

.main-content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: #e2e8f0;
}

/*
 * -------------------------------------------------------------------------------
 * Sidebar Styling
 * -------------------------------------------------------------------------------
 */

.branding {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    font-size: larger;
    font-weight: bolder;
}

.logo {
    height: 40px;
}

.directory {
    grid-area: 2 / 1 / 3 / -1;
}

.sidebar-list {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    gap: 5px;
}

.information {
    grid-area: 3 / 1 / 4 / -1;
}

.list-item {
    display: grid;
    grid-template-columns: auto 1fr;
    /* TODO: Check if there's a better way to space the icons */
    gap: 30px;
    padding: 10px 0 10px 30px;
}
.list-item:hover {
    font-weight: bolder;
    /* background-color: rgb(4, 0, 255); */
    border: 2px solid #1992d4;
    border-radius: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(255, 187, 0);
}

.icon {
    fill: #ffffff;
}

/*
 * -------------------------------------------------------------------------------
 * Header Styling
 * -------------------------------------------------------------------------------
 */

 /*
 * Header Top
 */

 .header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 100px;
 }

 .search {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 15px;
    align-items: center;
    padding-left: 100px;
 }

 .search-button {
    cursor: pointer;
 }

 .searchbar {
    height: 30px;
    width: clamp(200px, 100%, 700px);
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding-left: 10px;
    border: none;
 }

 .profile-info-small {
    display: grid;
    grid-template-columns: auto auto 150px;
    gap: 15px;
    align-items: center;
    justify-items: center;
    justify-content: end;
    padding-right: 50px;
 }

/*
 * Header Bottom
 */

 .header-bottom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
 }

 .profile-info-large {
    display: grid;
    grid: 1fr 2fr / 150px 450px;
 }

 .profile-info-large > img {
    grid-area: 1 / 1 / 3 / 2;
 }

 .profile-info-large > h5 {
    align-self: end;
 }

 .profile-info-large > h1 {
    align-self: start;
 }

 .action-buttons {
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 100px));
    gap: 30px;
    align-items: center;
    justify-content: end;
    padding-right: 70px;
 }

 .action-buttons > button {
    border-radius: 50px;
    padding: 12px 10px;
    color: #ffffff;
    font-size: medium;
    font-weight: 500;
    background-color: #1992d4;
 }